/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
rcarena-pk.json

# Build Code
/public/css/*.css
/public/js/*.js
resources/views/admin/js_version.blade.php
resources/views/admin/css_version.blade.php
